# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
*.py[cod]
*.o
*.obj
*.exp
*.lib
*.so
*.exe

# Data files
*.sorted
*.tsv
*.bin
!src/icegrams/resources/trigrams.bin
!*/src/icegrams/resources/trigrams.tsv

# Doc stuff
doc/Makefile
doc/make.bat
doc/_build/

# Working files
*.sublime-project
*.sublime-workspace
*.code-workspace
*.bak
*.profile
*.log
t
txt
input.txt
nohup.out

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
.eggs/
*.egg-info/
.installed.cfg
*.egg
log/
console/

# Virtual environments
venv
p35*/
p312
p313
p314

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
deploy_done.py

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Test coverage tmp files
.coverage
