graft src
prune src/icegrams/__pycache__
prune src/icegrams/venv
prune test
exclude src/icegrams/*.o
exclude src/icegrams/*.so
exclude src/icegrams/*.pyd
exclude src/icegrams/*.DS_Store
exclude src/icegrams/resources/*.DS_Store
prune src/icegrams/resources
include src/icegrams/resources/trigrams.bin
